body {
    font-family: Poppins, sans-serif;
    background: #f5f5f5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.mesa-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: #ff69b4;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #ff1493;
}

#form-reserva {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#form-reserva label {
    font-weight: 500;
}

#form-reserva input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Poppins, sans-serif;
}

#form-reserva button {
    margin-top: 12px;
    padding: 10px;
    background: #ff69b4;
    border-radius: 8px;
}

#form-reserva button:hover {
    background: #ff1493;
}